<div class='cart'>
  <div class='cart-banner'>
    <div class='container'>
      <div class='banner-block'>
        <h4>30-day Free Returns</h4>
        <p>No questions asked.</p>
        <img class='banner-img' src='img/cart-banner-1.png'>
      </div>
      <div class='banner-block'>
        <h4>Free Shipping</h4>
        <p>Free for all U.S. orders.</p>
        <img class='banner-img' src='img/cart-banner-2.png'>
      </div>
      <div class='banner-block'>
        <h3><i class='fa fa-phone'></i>1-800-My-Bindo</h3>
        <img class='banner-img' src='img/cart-banner-3.png'>
      </div>
    </div>

  </div>

  <div class='cart-container container' ng-init='bind()'>

    <h2>Cart (5 items)</h2>

    <table>
      <tbody>
        <tr class='table-titles'>
          <th class='table-description'>DESCRIPTION</th>
          <th>PRICE</th>
          <th>QUANTITY</th>
          <th>TOTAL</th>
          <th>REMOVE</th>
        </tr>
        <tr class='table-body' ng-repeat='(id, product) in cart'>
          <td>{{product.name}}</td>
          <td>${{product.price}}</td>
          <td>
            <select class='table-select' ng-model='product.quantity'>
              <option value='1'>1</option>
              <option value='2'>2</option>
              <option value='3'>3</option>
              <option value='4'>4</option>
              <option value='5'>5</option>
            </select>
          </td>
          <td>${{product.price * product.quantity}}</td>
          <td><button class='table-remove' ng-click='removeFromCart(id)'>Remove</button></td>
        </tr>
      </tbody>
    </table>
    <div class='cart-total'>
      <div class='total-left'>
        <p>Free shipping & free 30-day returns guarantee</p>
      </div>
      <div class='total-right'>
        <p>${{total}}</p>
        <button class='button-checkout' ng-click='checkout()'>Checkout</button>
      </div>

  </div>
</div>