$main-color: rgb(255,121,0);
$main-text-color: rgb(94, 75, 61);
$font: Lato, sans-serif;
$header-font: 400 12px Lato, sans-serif;
$nav-font: 700 14px Lato, sans-serif;
$body-font: 400 18px Lato, sans-serif;
$header-color: rgb(255,152,60);
$header-text-color: white;
$border: 1px solid rgb(225,225,225);

@mixin placeholder($color){

  ::-webkit-input-placeholder {
     color: $color;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
  }

  :-ms-input-placeholder {  
    color: $color;
  }
}
@include placeholder(rgb(217,213,210));


body{
  position: relative;
  background-color: rgb(247,246,244);
  font-family: $font;
  color: $main-text-color;
  a{
    text-decoration: none;
  }
}

.header{
  background-color: $header-color;
  height: 30px;

  font: $header-font;
  color: $header-text-color;
  line-height: 30px;

  a{
    color: $header-text-color;
  }

  p{
    float: right;
  }
}
.container{
  width: 940px;
  margin: 0 auto 0 auto;
}

/* NAV */
.nav{
  background-color: white;
  height: 80px;
  font: $nav-font;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;

  ul, li, input, a{
    display: inline-block;
  }

  .nav-controls{
    float: right;
  }

  a{
    margin-top: 25px;
    padding: 5px 15px;
    color: rgb(174, 165, 158);
  }
  a:hover{
    color: $main-text-color;
  }

  input{
    height: 24px;
    line-height: 24px;
    border: 2px solid rgb(215,215,215);
    border-radius: 20px;

    font-size: 14px;
    padding: 2px 10px;
    margin: 0 20px 0 15px;

  }

  .a-logo{
    width: 140px;
    height: 43px;
    background-image: url('/../img/bindo-pos-logo.png');
    background-repeat: no-repeat;
  }
  .a-cart{
    height: 21px;
    line-height: 21px;
    background-color: $main-color;
    border-radius: 4px;

    color: $header-text-color;
  }
  .a-cart:hover{
    background-color: $header-color;
    color: $header-text-color;    
  }
}


.content{
  margin-bottom: 80px;
}

/* CART */
.cart{
  h2{
    font-size: 36px;
    padding: 25px 0;
  }
  table{
    margin: 10px 0 30px 0;
    text-align: left;
    font: $body-font;
    
    th{
      width: 100px;
      background-color: rgb(230, 223, 217);
      padding: 10px 25px;
      color: rgb(147,132,132);
      text-transform: uppercase;
    }
    .table-description{
      width: 450px;
    }
    td{
      padding: 10px 25px;
      text-align: left;
    }
    tr{
      height: 100px;
    }

    select{
      background-color: white;
      border: 2px solid rgb(230,230,230);
      border-radius: 6px;
      font-size: 14px;
      height: 28px;
      width: 70px;
      line-height: 28px;

      color: $main-text-color;

    }

    .table-titles{
      height: 40px;
      font-size: 16px;
    }
    .table-body{
      background-color: white;
      border-top: $border;
    }

    .table-body:last-child{
      border-bottom: 0;
    }
    .table-remove{
      background: transparent;
      border: 0;
      padding: 0;
      font: $body-font;
      font-weight: 700;
      color: red;
    }
  }
}
.banner{
  // height: 160px;
  // background-color: white;
  border-top: $border;

  .banner-block{
    height: 160px;
    vertical-align: text-top;

    color: $main-text-color;

    display: inline-block;
    width: 32%;
    text-align: center;

    h3{
      margin-top: 30px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
    }
    h4{
      margin-top: 30px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
    }
  }
}

.total{
  div{
    display: inline-block;
  }
  .total-left{
    p{
      padding-top: 10px;
    }
  }
  .total-right{
    float: right;
    font-size: 18px;
    font-weight: 700;
    
    p, .button-checkout{
      display: inline;
    }
  
    .button-checkout{
      background-color: $main-color;
      border-radius: 7px;
      border: 0;
      padding: 10px 30px;

      margin-left: 20px;

      color: white;
      font-size: 18px;
    }
  }
}

.footer{
  border-top: $border;

  .footer-nav{
    display: inline;
    ul, li{
      display: inline-block;
    }
    ul{
      padding: 40px 0;
    }
    li{
      margin-right: 20px;
      a{
        color: $main-text-color;        
      }
    }
  }

  .footer-disclaimer{
    display: inline-block;

    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    padding: 40px 0;
  }
}

/* CHECKOUT */
.checkout-header{
  height: 60px;
  background-color: white;

  border-bottom: $border;
  text-align: center;

  img{
    width: 80px;
    margin-top: 15px;
  }
}
.checkout-progress{
  height: 140px;
  width: 740px;
  margin: 0 auto;
  ul{
    text-align: center;
    margin-top: 20px;
    li{
      display: inline-block;
      margin: 10px 50px;
      color: rgb(181,171,162);
      font-size: 12px;
    }
  }
  .progress-bar{
    position: relative;
    width: 740px;
    height: 12px;

    .progress-bar-back{
      position: absolute;
      top: 0;
      left: 0;
      width: 740px;
      height: 12px;
      background-color: rgb(229,222,214);
      border-radius: 12px;
    }

    .progress-bar-front{
      position: absolute;
      top: 0;
      left: 0;
      width: 370px;
      height: 12px;
      background-color: rgb(132,217,184);
      border-radius: 12px;

    }
  }
}
.checkout-container{

  text-align: center;
  >div{
    display: inline-block;
    vertical-align: text-top;
    text-align: left;
  }

  .order-summary{
    width: 450px;
    background-color: white;
    margin-right: 85px;

    .order-summary-title{
      height: 40px;
      background-color: rgb(201,188,179);
      color: white;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 40px;
    }

    .order-summary-item{
      width: 370px;
      margin: 0 auto;
      padding: 20px 0;
      text-align: left;
      border-bottom: $border;

      .item-category{
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
      }

      .item-name{
        margin: 5px 0;
        font-size: 18px;
        line-height: 36px;
      }

      .item-description{
        font-size: 16px;
        line-height: 20px;
        color: rgb(181,171,162);
      }

      .item-quantity{
        display: inline-block;
        width: 50%;
        font-size: 18px;
        line-height: 36px;
        select{
          background-color: rgb(240,237,232);
          margin-left: 10px;
          border: 0;
          border-radius: 6px;
          font-size: 16px;
          height: 28px;
          width: 70px;
          line-height: 28px;

          color: $main-text-color;
        }
      }

      .item-sum{
        display: inline-block;

        float: right;
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
      }
    }

    .order-summary-details{
      width: 370px;
      margin: 0 auto;
      padding: 10px 0;
      text-align: left;
      border-bottom: $border;

      >div{
        margin: 10px 0;
      }
      .details-title{
        color: rgb(181,171,162);
      }

      .details-info{
        float: right;
      }
    }

    .order-summary-sum{
      width: 370px;
      margin: 0 auto;
      padding: 20px 0;

      text-align: left;
      font-size: 18px;
      line-height: 36px;

      .sum-amount{
        float: right;
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;
      }
    }


  }

  .checkout-information{
    width: 470px;
    
    h2{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
    }

    h3{
      margin: 5px 0;
      font-size: 16px;
      color: rgb(181,171,162);
    }
    div{
      width: 100%;
      margin-bottom: 25px;


      input{
        display: inline-block;
        width: 446px;
        background-color: white;
        border: 2px solid rgb(225,218,210);
        border-radius: 6px;
        margin: 10px 0;
        padding: 10px;

        font-size: 14px;
        color: $main-text-color;
      }
      .input-street, .input-large, .input-zip, .input-city{
        margin-right: 17px;
      }
      .input-street, .input-large{
        width: 306px;
      }
      .input-city{
        width: 186px;
      }
      .input-small{
        width: 96px;
      }
      .input-zip{
        width: 76px;
      }
    }

    .billing-top{
      border-bottom: $border;
    }

    .billing-button{
      border-bottom: $border;
      height: 80px;

      button{
        float: right;
        height: 40px;
        width: 230px;
        background-color: $main-color;
        border: 0;
        border-radius: 4px;
        padding: 0;

        line-height: 40px;

        font-size: 16px;
        color: $header-text-color;
      }
    }


    .information-bottom{
      text-align: right;
    }

    .confirm-information{
      p{
        font-size: 16px;
        line-height: 21px;
      }
      .confirm-edit{
        margin-left: 15px;
        color: $main-color;
      }

      .confirm-row{
        border-bottom: $border;

        >div{
          margin: 0 15px 25px 0;
          vertical-align: text-top;
          display: inline-block;
        }
        .confirm-row-half{
          width: 225px;
        }

        >div:last-child{
          margin-right: 0;
        }
      }
    }

    .thankyou-information{
      .thankyou-title{
        width: 500px;
        height: 100px;
        background-color: $header-color;
        color: white;
        text-align: center;
        margin: 0;
        h2{
          font-size: 32px;
          line-height: 100px;
          margin: 0;        
        }
      }
      .thankyou-content{
        background-color: white;
        width: 440px;
        padding: 30px;
        p{
          font-size: 16px;
          line-height: 21px;
        }
        .confirm-row{
          border-bottom: $border;

          >div{
            margin: 0 15px 25px 0;
            vertical-align: text-top;
            display: inline-block;
          }
          .thankyou-row-half{
            width: 200px;
          }
          >div:last-child{
            margin-right: 0;
          }
        }       
      }
    }
  }
}