::-webkit-input-placeholder {
  color: #d9d5d2; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #d9d5d2; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d9d5d2; }

:-ms-input-placeholder {
  color: #d9d5d2; }

body {
  position: relative;
  font-family: Lato, sans-serif;
  color: #5e4b3d; }
  body a {
    text-decoration: none; }

.header {
  background-color: #ff983c;
  height: 30px;
  font: 400 12px Lato, sans-serif;
  color: white;
  line-height: 30px; }
  .header a {
    color: white; }
  .header p {
    float: right; }

.container {
  width: 940px;
  margin: 0 auto 0 auto; }

/* NAV */
.nav {
  background-color: white;
  height: 80px;
  font: 700 14px Lato, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px; }
  .nav ul, .nav li, .nav input, .nav a {
    display: inline-block; }
  .nav .nav-controls {
    float: right; }
  .nav a {
    margin-top: 25px;
    padding: 5px 15px;
    color: #aea59e; }
  .nav a:hover {
    color: #5e4b3d; }
  .nav .a-link {
    padding: 5px 0;
    margin-left: 15px;
    margin-right: 15px; }
  .nav .navbar-active {
    border-bottom: 2px solid #ff7900;
    padding-bottom: 8px; }
  .nav input {
    height: 24px;
    line-height: 24px;
    border: 2px solid #d7d7d7;
    border-radius: 20px;
    font-size: 14px;
    padding: 2px 10px;
    margin: 0 20px 0 15px; }
  .nav .a-logo {
    width: 140px;
    height: 43px;
    background-image: url("/../img/bindo-pos-logo.png");
    background-repeat: no-repeat; }
  .nav .a-cart {
    height: 21px;
    line-height: 21px;
    background-color: #ff7900;
    border-radius: 4px;
    padding: 5px 15px;
    color: white; }
  .nav .a-cart:hover {
    background-color: #ff983c;
    color: white; }

.shop-product {
  background-color: white;
  margin-top: 80px; }
  .shop-product > div {
    display: inline-block;
    vertical-align: text-top; }
  .shop-product .product-showcase {
    width: 460px;
    margin-right: 95px; }
    .shop-product .product-showcase .showcase-image {
      height: 200px; }
    .shop-product .product-showcase h2 {
      margin: 18px 0;
      font-size: 36px; }
    .shop-product .product-showcase h3 {
      font-size: 24px;
      color: #aea59e; }
    .shop-product .product-showcase .showcase-services {
      margin: 65px 0;
      color: #aea59e;
      font-size: 18px; }
      .shop-product .product-showcase .showcase-services li, .shop-product .product-showcase .showcase-services li > img {
        vertical-align: middle; }
      .shop-product .product-showcase .showcase-services img {
        margin-right: 15px; }
    .shop-product .product-showcase .showcase-cantdecide {
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1; }
  .shop-product .product-details {
    width: 380px;
    background-color: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .shop-product .product-details .details-features {
      line-height: 1.5em;
      border-bottom: 1px solid #e1e1e1; }
      .shop-product .product-details .details-features li {
        margin: 30px 35px 30px 35px; }
      .shop-product .product-details .details-features h4 {
        color: #5e4b3d;
        font-size: 18px;
        font-weight: 700; }
      .shop-product .product-details .details-features p {
        color: #aea59e;
        font-size: 16px; }
    .shop-product .product-details .details-summary {
      padding: 20px; }
      .shop-product .product-details .details-summary .summary-price {
        font-size: 24px; }
      .shop-product .product-details .details-summary .summary-select {
        height: 40px;
        width: 70px;
        background-color: white;
        border: 2px solid #e6e6e6;
        border-radius: 6px;
        margin-left: 10px;
        font-size: 16px;
        line-height: 28px;
        color: #5e4b3d; }
      .shop-product .product-details .details-summary .summary-button {
        background-color: #ff7900;
        border-radius: 5px;
        border: 0;
        padding: 10px 15px;
        margin-left: 10px;
        color: white;
        font-size: 18px; }

.cart {
  background-color: #f7f6f4;
  padding-bottom: 60px; }

.cart-container {
  padding-top: 60px; }
  .cart-container h2 {
    font-size: 36px;
    padding: 25px 0; }
  .cart-container table {
    margin: 10px 0 30px 0;
    text-align: left;
    font: 400 18px Lato, sans-serif; }
    .cart-container table th {
      width: 100px;
      background-color: #e6dfd9;
      padding: 10px 25px;
      color: #938484;
      text-transform: uppercase; }
    .cart-container table .table-description {
      width: 450px; }
    .cart-container table td {
      padding: 10px 25px;
      text-align: left; }
    .cart-container table tr {
      height: 100px; }
    .cart-container table select {
      background-color: white;
      border: 2px solid #e6e6e6;
      border-radius: 6px;
      font-size: 14px;
      height: 28px;
      width: 70px;
      line-height: 28px;
      color: #5e4b3d; }
    .cart-container table .table-titles {
      height: 40px;
      font-size: 16px; }
    .cart-container table .table-body {
      background-color: white;
      border-top: 1px solid #e1e1e1; }
    .cart-container table .table-body:last-child {
      border-bottom: 0; }
    .cart-container table .table-remove {
      background: transparent;
      border: 0;
      padding: 0;
      font: 400 18px Lato, sans-serif;
      font-weight: 700;
      color: red; }

.cart-banner {
  background-color: white;
  border-top: 1px solid #e1e1e1; }
  .cart-banner .banner-block {
    position: relative;
    height: 160px;
    vertical-align: text-top;
    color: #5e4b3d;
    display: inline-block;
    width: 32%;
    text-align: center; }
    .cart-banner .banner-block h3 {
      margin-top: 30px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 700; }
    .cart-banner .banner-block h4 {
      margin-top: 30px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700; }
    .cart-banner .banner-block .banner-img {
      position: absolute;
      left: 60px;
      bottom: 0; }

.cart-total div {
  display: inline-block; }
.cart-total .total-left p {
  padding-top: 10px; }
.cart-total .total-right {
  float: right;
  font-size: 18px;
  font-weight: 700; }
  .cart-total .total-right p, .cart-total .total-right .button-checkout {
    display: inline; }
  .cart-total .total-right .button-checkout {
    background-color: #ff7900;
    border-radius: 7px;
    border: 0;
    padding: 10px 30px;
    margin-left: 20px;
    color: white;
    font-size: 18px; }

.checkout {
  background-color: #f7f6f4; }
  .checkout .checkout-header {
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    text-align: center; }
    .checkout .checkout-header img {
      width: 80px;
      margin-top: 15px; }
  .checkout .checkout-progress {
    width: 740px;
    margin: 0 auto; }
    .checkout .checkout-progress ul {
      text-align: center;
      margin-top: 20px; }
      .checkout .checkout-progress ul li {
        display: inline-block;
        margin: 10px 50px;
        color: #aea59e;
        font-size: 12px; }
    .checkout .checkout-progress .progress-bar {
      position: relative;
      width: 740px;
      height: 12px; }
      .checkout .checkout-progress .progress-bar .progress-bar-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 740px;
        height: 12px;
        background-color: #e5ded6;
        border-radius: 12px; }
      .checkout .checkout-progress .progress-bar .progress-bar-front {
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        background-color: #84d9b8;
        border-radius: 12px; }
      .checkout .checkout-progress .progress-bar .bar-shipping {
        width: 185px; }
      .checkout .checkout-progress .progress-bar .bar-billing {
        width: 370px; }
      .checkout .checkout-progress .progress-bar .bar-confirm {
        width: 555px; }
      .checkout .checkout-progress .progress-bar .progress-dot {
        position: absolute;
        top: -5px;
        width: 20px;
        height: 20px;
        background-color: #46c192;
        border-radius: 10px; }
      .checkout .checkout-progress .progress-bar .progress-dot-shipping {
        left: 175px; }
      .checkout .checkout-progress .progress-bar .progress-dot-billing {
        left: 360px; }
      .checkout .checkout-progress .progress-bar .progress-dot-confirm {
        left: 545px; }
  .checkout .checkout-container {
    margin-top: 70px;
    text-align: center; }
    .checkout .checkout-container > div {
      display: inline-block;
      vertical-align: text-top;
      text-align: left; }
    .checkout .checkout-container .order-summary {
      width: 450px;
      background-color: white;
      margin-right: 85px; }
      .checkout .checkout-container .order-summary .order-summary-title {
        height: 40px;
        background-color: #c9bcb3;
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 40px; }
      .checkout .checkout-container .order-summary .order-summary-item {
        width: 370px;
        margin: 0 auto;
        padding: 20px 0;
        text-align: left;
        border-bottom: 1px solid #e1e1e1; }
        .checkout .checkout-container .order-summary .order-summary-item .item-category {
          font-size: 18px;
          font-weight: 700;
          line-height: 36px; }
        .checkout .checkout-container .order-summary .order-summary-item .item-name {
          margin: 5px 0;
          font-size: 18px;
          line-height: 36px; }
        .checkout .checkout-container .order-summary .order-summary-item .item-description {
          font-size: 16px;
          line-height: 20px;
          color: #aea59e; }
        .checkout .checkout-container .order-summary .order-summary-item .item-quantity {
          display: inline-block;
          width: 50%;
          font-size: 18px;
          line-height: 36px; }
          .checkout .checkout-container .order-summary .order-summary-item .item-quantity select {
            background-color: #f0ede8;
            margin-left: 10px;
            border: 0;
            border-radius: 6px;
            font-size: 16px;
            height: 28px;
            width: 70px;
            line-height: 28px;
            color: #5e4b3d; }
        .checkout .checkout-container .order-summary .order-summary-item .item-sum {
          display: inline-block;
          float: right;
          font-size: 22px;
          font-weight: 700;
          line-height: 36px; }
      .checkout .checkout-container .order-summary .order-summary-details {
        width: 370px;
        margin: 0 auto;
        padding: 10px 0;
        text-align: left;
        border-bottom: 1px solid #e1e1e1; }
        .checkout .checkout-container .order-summary .order-summary-details > div {
          margin: 10px 0; }
        .checkout .checkout-container .order-summary .order-summary-details .details-title {
          color: #aea59e; }
        .checkout .checkout-container .order-summary .order-summary-details .details-info {
          float: right; }
      .checkout .checkout-container .order-summary .order-summary-sum {
        width: 370px;
        margin: 0 auto;
        padding: 20px 0;
        text-align: left;
        font-size: 18px;
        line-height: 36px; }
        .checkout .checkout-container .order-summary .order-summary-sum .sum-amount {
          float: right;
          font-size: 22px;
          font-weight: 700;
          line-height: 36px; }
    .checkout .checkout-container .checkout-information {
      width: 470px; }
      .checkout .checkout-container .checkout-information h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px; }
      .checkout .checkout-container .checkout-information h3 {
        margin: 5px 0;
        font-size: 16px;
        color: #aea59e; }
      .checkout .checkout-container .checkout-information div {
        width: 100%;
        margin-bottom: 25px; }
        .checkout .checkout-container .checkout-information div input {
          display: inline-block;
          width: 446px;
          background-color: white;
          border: 2px solid #e1dad2;
          border-radius: 6px;
          margin: 10px 0;
          padding: 10px;
          font-size: 14px;
          color: #5e4b3d; }
        .checkout .checkout-container .checkout-information div .input-street, .checkout .checkout-container .checkout-information div .input-large, .checkout .checkout-container .checkout-information div .input-zip, .checkout .checkout-container .checkout-information div .input-city {
          margin-right: 17px; }
        .checkout .checkout-container .checkout-information div .input-street, .checkout .checkout-container .checkout-information div .input-large {
          width: 306px; }
        .checkout .checkout-container .checkout-information div .input-city {
          width: 186px; }
        .checkout .checkout-container .checkout-information div .input-small {
          width: 96px; }
        .checkout .checkout-container .checkout-information div .input-zip {
          width: 76px; }
      .checkout .checkout-container .checkout-information .input-empty {
        background-color: #ff6464; }
      .checkout .checkout-container .checkout-information .billing-top {
        border-bottom: 1px solid #e1e1e1; }
      .checkout .checkout-container .checkout-information .billing-checkbox {
        margin: 0;
        vertical-align: middle; }
        .checkout .checkout-container .checkout-information .billing-checkbox input {
          display: inline;
          width: 30px;
          height: 30px;
          background-color: white;
          border: 2px solid #988274;
          white-space: nowrap; }
      .checkout .checkout-container .checkout-information .billing-button {
        border-bottom: 1px solid #e1e1e1;
        height: 80px; }
        .checkout .checkout-container .checkout-information .billing-button button {
          float: right;
          height: 40px;
          width: 230px;
          background-color: #ff7900;
          border: 0;
          border-radius: 4px;
          padding: 0;
          line-height: 40px;
          font-size: 16px;
          color: white; }
      .checkout .checkout-container .checkout-information .information-bottom {
        text-align: right; }
      .checkout .checkout-container .checkout-information .confirm-information p {
        font-size: 16px;
        line-height: 21px; }
      .checkout .checkout-container .checkout-information .confirm-information .confirm-edit {
        margin-left: 15px;
        color: #ff7900; }
      .checkout .checkout-container .checkout-information .confirm-information .confirm-row {
        border-bottom: 1px solid #e1e1e1; }
        .checkout .checkout-container .checkout-information .confirm-information .confirm-row > div {
          margin: 0 15px 25px 0;
          vertical-align: text-top;
          display: inline-block; }
        .checkout .checkout-container .checkout-information .confirm-information .confirm-row .confirm-row-half {
          width: 225px; }
        .checkout .checkout-container .checkout-information .confirm-information .confirm-row > div:last-child {
          margin-right: 0; }
      .checkout .checkout-container .checkout-information .thankyou-information .thankyou-title {
        width: 500px;
        height: 100px;
        background-color: #ff983c;
        color: white;
        text-align: center;
        margin: 0; }
        .checkout .checkout-container .checkout-information .thankyou-information .thankyou-title h2 {
          font-size: 32px;
          line-height: 100px;
          margin: 0; }
      .checkout .checkout-container .checkout-information .thankyou-information .thankyou-content {
        background-color: white;
        width: 440px;
        padding: 30px; }
        .checkout .checkout-container .checkout-information .thankyou-information .thankyou-content p {
          font-size: 16px;
          line-height: 21px; }
        .checkout .checkout-container .checkout-information .thankyou-information .thankyou-content .confirm-row {
          border-bottom: 1px solid #e1e1e1; }
          .checkout .checkout-container .checkout-information .thankyou-information .thankyou-content .confirm-row > div {
            margin: 0 15px 25px 0;
            vertical-align: text-top;
            display: inline-block; }
          .checkout .checkout-container .checkout-information .thankyou-information .thankyou-content .confirm-row .thankyou-row-half {
            width: 200px; }
          .checkout .checkout-container .checkout-information .thankyou-information .thankyou-content .confirm-row > div:last-child {
            margin-right: 0; }
  .checkout .checkout-footer {
    width: 680px;
    margin: 80px auto;
    text-align: center;
    border-top: 1px solid #e1e1e1;
    padding: 20px;
    color: #aea59e; }

.product-more {
  height: 290px;
  width: 100%;
  background-color: #f7f6f4; }
  .product-more .more-left {
    width: 45%;
    display: inline-block;
    margin-top: 75px; }
  .product-more h3 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 700; }
  .product-more h4 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #aea59e; }
  .product-more button {
    background-color: #ff7900;
    border-radius: 7px;
    border: 0;
    padding: 10px 30px;
    color: white;
    font-size: 18px; }
  .product-more .more-right {
    margin-top: 75px;
    float: right; }

.footer {
  border-top: 1px solid #e1e1e1; }
  .footer .footer-nav {
    display: inline; }
    .footer .footer-nav ul, .footer .footer-nav li {
      display: inline-block; }
    .footer .footer-nav ul {
      padding: 40px 0; }
    .footer .footer-nav li {
      margin-right: 20px; }
      .footer .footer-nav li a {
        color: #5e4b3d; }
  .footer .footer-disclaimer {
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    padding: 40px 0; }
