
$font: Lato, sans-serif;
$header-font: 400 12px Lato, sans-serif;
$nav-font: 700 14px Lato, sans-serif;
$body-font: 400 18px Lato, sans-serif;
$header-color: rgb(255,152,60);
$header-text-color: white;
$border: 1px solid rgb(225,225,225);

$main-color: rgb(255,121,0);
$text-color-main: rgb(94, 75, 61);
$background-color-light: rgb(247,246,244);
$text-color-light: rgb(174,165,158);

@mixin placeholder($color){
  ::-webkit-input-placeholder {
     color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder {  
    color: $color;
  }
} 
@include placeholder(rgb(217,213,210));

body{
  position: relative;
  font-family: $font;
  color: $text-color-main;
  a{
    text-decoration: none;
  }
}

.header{
  background-color: $header-color;
  height: 30px;
  font: $header-font;
  color: $header-text-color;
  line-height: 30px;

  a{
    color: $header-text-color;
  }
  p{
    float: right;
  }
}
.container{
  width: 940px;
  margin: 0 auto 0 auto;
}

/* NAV */
.nav{
  background-color: white;
  height: 80px;
  font: $nav-font;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;

  ul, li, input, a{
    display: inline-block;
  }
  .nav-controls{
    float: right;
  }
  a{
    margin-top: 25px;
    padding: 5px 15px;
    color: $text-color-light;
  }
  a:hover{
    color: $text-color-main;
  }
  .a-link{
    padding: 5px 0;
    margin-left: 15px;
    margin-right: 15px;

  }
  .navbar-active{
    border-bottom: 2px solid $main-color;
    padding-bottom: 8px;
  }

  input{
    height: 24px;
    line-height: 24px;
    border: 2px solid rgb(215,215,215);
    border-radius: 20px;

    font-size: 14px;
    padding: 2px 10px;
    margin: 0 20px 0 15px;
  }

  .a-logo{
    width: 140px;
    height: 43px;
    background-image: url('/../img/bindo-pos-logo.png');
    background-repeat: no-repeat;
  }
  .a-cart{
    height: 21px;
    line-height: 21px;
    background-color: rgb(255,121,0);
    border-radius: 4px;
    padding: 5px 15px;

    color: $header-text-color;
  }
  .a-cart:hover{
    background-color: $header-color;
    color: $header-text-color;    
  }
}

@import "../shop/shop.scss";
@import "../cart/cart.scss";
@import "../checkout/checkout.scss";
@import "../bottom-banner/bottom-banner.scss";
@import "../footer/footer.scss";
