.footer{
  border-top: $border;

  .footer-nav{
    display: inline;
    ul, li{
      display: inline-block;
    }
    ul{
      padding: 40px 0;
    }
    li{
      margin-right: 20px;
      a{
        color: $text-color-main;        
      }
    }
  }

  .footer-disclaimer{
    display: inline-block;

    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    padding: 40px 0;
  }
}
